*{
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
}
.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-height: 440px;
  background-color: rgb(245, 17, 17);
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0 4px 10px black;
}
.city-search {
  width: 80%;
}
.city {
  border: 2px solid black;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: aqua;
  padding: 6px 30px 6px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: rgb(32, 27, 27);
}
.weather-info {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.temperature {
font-size: 48px;
font-weight: bold;
margin: 10px 0;
}
.weather-description {
  font-size: 20px;
  text-transform: capitalize;
}
.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.loading {
  color: #3498db;
  font-size: 18px;
  margin: 20px;
}
.error {
  color: #59e73c;
  font-size:18px;
  margin: 20px;
}